<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
}

nav {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main {
    flex-grow: 1;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


</style>
<body>
  

 

    <p>Artisan Fullname: <span style="color: blue;"><%- fn %> <%- ln %></span></p>

   

    <hr>
    <nav>
        <h3><a href="/">ARTISAN OGBUEFI</a></h3>
    <a href="/dashboard">Dashboard</a>
    <a href="/addSkill">Add Skill</a>
    <a href="/viewSkill">View Skill</a>
    <a href="/logout">Click to Logout</a>
</nav>
<main>
    <% if(message !== ""){ %>
        <h5 style="color: blue;"><%- message %></h5>
   <% } %>

   <% if(error_msg !== ""){ %>
        <h5 style="color:red"><%- error_msg %></h5>
        <% } %>

        <form action="/addSkill" method="post" enctype="multipart/form-data">
         
            <% let states = ["Abia","Adamawa","Akwaibom","Bauchi","Bayelsa","Cross-River","Delta","Enugu","Edo","Jigawa","Lagos","Oyo","Plateau","Osun","Kano","Kaduna","Katsina","Rivers","Zamfara","Taribo","Gombe","Kogi","Kwara","Ogun","Fct","Anambra","Imo state","Ebonyi"]%>

            <p>State of Residence:
                <select name="residence">
                    <option value="">Select State of Residence</option>

                    <% states.forEach((stat)=>
                    { %>
                        <option value="<%- stat %>"><%- stat %></option>
                   <% }) %>
                </select>
            </p>
            <p>Experience: <br>
            <textarea name="experience" placeholder="Enter any Prior experience, if you have any" cols="30" rows="10"></textarea></p>
           
                <% let preferences = ["Part-time", "Full-time", "Contract"]%>

                <p>Job Preference: <select name="job">
                    <option value="">Select Job Preference</option>
                    <% preferences.forEach((pref) =>{ %>
                        <option value="<%- pref %>"><%- pref %></option>


                <% }) %>
                </select>
            </p>

            <% let qualifications = [ "FSLC", "HND", "BSc", "Diploma"]%>

            <p>Educational qualification
                (Certificate Obtained):
            <select name="education">
                <option value="">Select Educational qualification</option>

                <% qualifications.forEach((qual)=>{ %>
                    <option value="<%- qual %>"><%- qual %></option>
            <% }) %>
            </select>
        </p>

        <% let skills = [ "software development",
        "commercial driving",
        "web design",
        "technical writing",
        "music production",
        "choreography",
        "landscape design",
        "fashion design",
        "music teaching",
        "branding and logo design",
        "carpentry",
        "business analytics",
        "data analysis",
        "project management", "Nurse", "Hair Stylist", "Receptionist", "Chef", "Construction Worker"] %>

      <p>Skillset: <select name="set">
        <option value="">Select Skill set</option>

        <%skills.forEach((skii)=>{ %>
            <option value="<%-skii %>"><%- skii %></option>
        <% }) %>
      </select>
    </p>

    <p>Address: <input type="text" name="address"></p>
    <p>Email: <input type="email" name="email"></p>
    <p>CAC Status: Registered:<input type="radio" name="cacStatus" value="Registered">
        Not Registered: <input type="radio" name="cacStatus" value="Not Registered">
        <p>Phone Number: <input type="tel" name="phone" ></p>

    <p>Upload Picture: <input type="file" name="image"></p>
      
    <button type="submit">Click to Add</button>
        </form>
    </main>

</body>
</html>