<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
  }

  h3 a {
      color: #333;
   
  }

 

  .boxx {
      background-color: #fff;
      margin: 10px;
      padding: 20px;
      width: 400px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .img img {
      max-width: 100%;
      height: auto;
  }
</style>


<body>

    <h3><a href="/">ARTISAN OGBUEFI</a></h3>
 
 

    <div class="boxx">
        <% if (image && image.data) { %>
          <div class="img">
            <!-- Display the artisan's profile image using the image data -->
            <img src="data:image/<%- image.contentType %>;base64,<%- image.data.toString('base64') %>" alt="Artisan Profile Picture">
          </div>
        <% } else { %>
          <p>No profile image available.</p>
        <% } %>
        <h4>Name: <%- artisan.fn %> <%- artisan.ln %></h4>
        <p>Residence: <%- artisan.residence %></p>
        <p>Experience: <%- artisan.experience %></p>
        <p>Job Preference: <%- artisan.job %> </p>
        <p>Educational Qualification: <%- artisan.education %></p>
        <p>Phone: <%- artisan.phone %></p>
        <p>Email: <%- artisan.email %></p>
        <p>Address: <%- artisan.address %></p>
        <P>CacStatus: <%- artisan.cacStatus %></P>
      </div>
      
    
         
</body>
</html>