<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>ARTISAN OGBUEFI</h2>


    <hr>

    <a href="/dashboard">Dashboard</a>
    <a href="/addSkill">Add Skill</a>
    <a href="/viewSkill">View Skill</a>
    <a href="/logout">Click to Logout</a>

    <p> Name of Artisan: <span style="color: blue;"><%- fn %> <%- ln %></span></p>

    <% if(message !== ""){ %>
        <h5 style="color: blue;"><%- message %></h5>
   <% } %>

   <% if(error_msg !== ""){ %>
        <h5 style="color:red"><%- error_msg %></h5>
        <% } %>

        <table>
            <tr>
                <th>Image</th>
                <th>Residence</th>
                <th>Experience</th>
                <th>Job</th>
                <th>Education</th>
                <th>Skillset</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr>
                <% results.forEach((r) => { %>
                    <td style="width: 20%;">
                        <img src="data:image/<%- r.image.contentType%>;base64,<%- r.image.data.toString('base64')%>" style="border-radius: 5px; width: 50%;">
                      </td>
                <td><%- r.residence %></td>
                <td><%- r.experience %></td>
                <td><%- r.job %></td>
                <td><%- r.education %></td>
                <td><%- r.set %></td>
                <td><button><a href="/edit/<%- r._id %>">Click to Edit</a></button></td>
                <td><button><a href="/delete/<%- r._id %>">Click to Delete</a></button></td>
            </tr>
            <% }) %>
        </table>
</body>
</html>